<nav class="navbar navbar-light bg-light" style="background-color:rgb(189, 188, 185);">
    <div class="container">
        <a class="navbar-brand" href="#">
          <h1 style="font-style:italic;">Employee data</h1>
        </a>
        <div class="d-flex">
            <button class="btn btn-primary me-3" routerLink='/addemployee'>Add Employee</button>
            <button class="btn btn-primary" routerLink='/employeelist'>Employee list</button>
        </div>
      </div>
</nav>
<router-outlet></router-outlet>